@use 'variables' as v;

#basics {
  width: 100%;
  min-height: 100vh;
  background: v.$color-background;
  padding: 1rem;
  font-family: v.$font-primary;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: v.$color-text;
    font-weight: 600;
    text-transform: capitalize;
  }

  form {
    background: v.$color-surface;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: v.$radius;
    box-shadow: v.$shadow;

    display: grid;
    grid-template-columns: 1fr;

    label {
      font-weight: 400;          
      display: block;
      color: gray;     
      font-size: 0.9rem;  
      margin-bottom: 0.5rem;       
    }

    input,
    select {
      width: 100%;
      padding: 0.7rem;           
      border: 1px solid v.$color-border;
      border-radius: v.$radius;
      font-size: 0.95rem;        
      background: v.$color-surface;
      color: v.$color-text;
      margin-bottom: 2rem;
    }

    button[type='submit'] {
      background: v.$color-primary;
      color: v.$color-text-light;
      padding: 0.9rem;
      border-radius: v.$radius;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      transition: v.$transition;
      font-weight: 600;

      &:disabled {
        background: v.$color-border;
        color: v.$color-text;
        cursor: not-allowed;
      }

      &:not(:disabled):hover {
        background: v.$color-muted;
      }
    }
  }

  @media (min-width: 768px) {
    form {
      grid-template-columns: 1fr 1fr;

      button[type='submit'] {
        grid-column: 1 / 3;
      }
    }
  }

  .logger-container {
    display: flex;
  }
  .logger {
    width:40%;
    display: block;
    margin: 1rem auto 0;
    padding: 0.7rem 1.4rem;
    // border-radius: v.$radius;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: v.$color-border;
    color: v.$color-text;
    cursor: pointer;
    transition: v.$transition;
    font-weight: 600;
    margin-top: 2rem;

    &:hover {
      background: v.$color-muted;
      color: v.$color-text-light;
    }
  }
}
