@use 'global';
@use 'welcome';
@use 'login';
@use 'loading';
@use 'student';
@use 'owner';
@use 'header';
@use 'studentList';
@use 'studentResult';
@use 'adminLogin';
@use 'adminHeader';
@use 'basics';
@use 'classes';
@use 'sectionClasses';